<div class="loginContainer">
  <form (ngSubmit)="onSubmit()" class="loginForm">
    <h1 class="loginTitle">Login</h1>

    <div class="inputGroup">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="username" id="username" name="username" required />
    </div>

    <div class="inputGroup">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" id="password" name="password" required />
    </div>

    <div *ngIf="errorMessage">
      <p style="color: red;">{{ errorMessage }}</p>
    </div>

    <button type="submit" class="loginButton" [disabled]="!isFormValid()">Login</button>
    <div class="toggleForm">
      <span>Don't have an account? </span>
      <button type="button" (click)="toggleForm()">Register</button>
    </div>
  </form>
</div>
