<div class="carItem" (click)="openDetail()">
    <img [src]="car.image" alt="{{ car.marka }} {{ car.model }}" class="carImage" />
    <div class="carInfo">
      <div class="header">
        <h2>{{ car.marka }} {{ car.model }}</h2>
        <span class="likeIcon" (click)="toggleLike($event)">
          <ng-container *ngIf="isLiked(car); else notLiked">
            ❤️
          </ng-container>
          <ng-template #notLiked>
            <div
              style="border: 1px solid white; border-radius: 100%; padding: 5px; display: flex; justify-content: center; align-items: center"
            >
              x
            </div>
          </ng-template>
        </span>
      </div>
      <div class="details">
        {{ car.year }}/{{ car.mileage }}km/{{ car.body_type }}/{{ car.transmission }}
      </div>
      <div class="footer">{{ car.price }} ₸</div>
    </div>
  </div>
  