<div class="carCreatingContainer">
  <h1>Create Car Post</h1>
  <form [formGroup]="carForm" (ngSubmit)="submitForm()">
    <div>
      <label for="marka">Marka</label>
      <input id="marka" formControlName="marka" type="text" placeholder="Enter Marka" />
    </div>
    <div>
      <label for="model">Model</label>
      <input id="model" formControlName="model" type="text" placeholder="Enter Model" />
    </div>
    <div>
      <label for="year">Year</label>
      <input id="year" formControlName="year" type="number" placeholder="Enter Year" />
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" formControlName="price" type="number" placeholder="Enter Price" />
    </div>
    <div>
      <label for="mileage">Mileage</label>
      <input id="mileage" formControlName="mileage" type="number" placeholder="Enter Mileage" />
    </div>
    <div>
      <label for="body_type">Body Type</label>
      <input id="body_type" formControlName="body_type" type="text" placeholder="Enter Body Type" />
    </div>
    <div>
      <label for="transmission">Transmission</label>
      <input
        id="transmission"
        formControlName="transmission"
        type="text"
        placeholder="Enter Transmission"
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        rows="3"
        placeholder="Enter Description"
      ></textarea>
    </div>
    <div>
      <label for="phoneNumber">Phone Number</label>
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        type="text"
        placeholder="Enter Phone Number"
      />
    </div>
    
    <div>
      <label for="image">Image</label>
      <input id="image" type="file" (change)="onFileChange($event)" />
    </div>
    <button type="submit" [disabled]="carForm.invalid">Create</button>
  </form>
</div>