<div class="container">
  <app-nav-bar></app-nav-bar>

  <h1 class="title">Список автомобилей</h1>

  <app-search-form (searchQueryChange)="searchQuery = $event; loadCars()"></app-search-form>

  <button class="filterButton" (click)="toggleFilter()">
    {{ isFilterVisible ? 'Скрыть фильтры' : 'Показать фильтры' }}
  </button>

  <app-filter-form
    *ngIf="isFilterVisible"
    [filterParams]="filterParams"
    (filterChange)="filterParams = $event"
    (applyFilter)="applyFilter()"
  ></app-filter-form>

  <ul class="list">
    <li *ngFor="let car of cars">
      <app-car-item
        [car]="car"
        [isFavorite]="favoriteCars.has(car.id)"
        (likeToggle)="toggleLike($event)"
      ></app-car-item>
    </li>
  </ul>
</div>
