<div class="main-page">
    <app-nav-bar></app-nav-bar>
    <div class="hero">
        <div class="hero-text">
            <h1>AUTO ACCESS</h1>
            <p>WORLD OF CARS</p>
            <p>FIND YOUR DREAM CAR HERE</p>
            <div class="hero-buttons">
                <button>Buy a Car</button>
                <button>List Your Car</button>
            </div>
        </div>
        <div class="hero-image">
            <img [src]="logo2" alt="Luxury Car" />
        </div>
    </div>
    <app-footer></app-footer>
</div>